body{
  font-family: 'Noto Serif TC', serif;
  line-height: 1.5;
  background-color:$primary;
  a{
    text-decoration: none;
  }
  ul{
    list-style-type: none;
  }
  div{
    background-size: cover;
    background-position: center center;
  }
  img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
  }
}


  