.about{
  .banner{
    height: 50vh;
    background-image: url(../images/index-header_banner1.png);
    background-size: cover;    
    background-position:center center;
    background-repeat: no-repeat;   
  }
  iframe{   
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    height: 50vh;      
  }
  
}