.tastyDetail{  
  .banner{
    height: 50vh;
    background-image: url(../images/index-header_banner1.png);
    background-size: cover;    
    background-position:center center;
    background-repeat: no-repeat;   
  }

    .breadcrumb > .active,.breadcrumb > .active a {
  color: black;
}
ol > li > a {color:$gray-600};


.tastyDetail-product{
  // padding-left: 81px;
  img{
    width: 100%;
    height: auto;
  }
  .badge{
    font-size: 16px;
    vertical-align: super;
  }
  button{
    color: #0E376F;
  }
  select{
    width: 80px;
    margin-right: 75px;
  }
}

.tastyDetail-breadcrumb-list,.tastyDetail-product-item{
  width: 90%;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slide-img {    
  width: 100%;
  padding-bottom: 72%;
  background-size: cover;
  background-position: center center;
}
.img-1{
  background-image: url(../images/pro-1.jpg);
}
.img-2{
  background-image: url(../images/pro-2.jpg);
}
.img-3{
  background-image: url(../images/pro-3.jpg);
}
.img-4{
  background-image: url(../images/pro-4.jpg);
}

.swiper-father {      
  position: relative;   
  .swiper{
    width: 90%;
  } 
}

.swiper-button-prev,.swiper-button-next{
  position: absolute;
  top: 50%;           
}


.swiper-button-prev img,
.swiper-button-next img {
  width: 48px;
  height: 48px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

}

/*RWD*/
@include media-breakpoint-down(sm) {
  .tastyDetail{
    .tastyDetail-breadcrumb-list,.tastyDetail-product-item{
      width: 100%;
    }
    // .tastyDetail-product{
    //   img{
    //     margin-bottom: 50px;
    //   }
    // }
    
  }
  
 }
