.tastyDetail{  
  .banner{
    height: 50vh;
    background-image: url(../images/tastydetail-banner.jpg);
    background-size: cover;    
    background-position:center center;
    background-repeat: no-repeat;
    position: relative;
    &::after{
      position: absolute;
      content:"";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color:black;
      opacity: 0.1;
    }   
  }
  .banner-title{
    position: absolute;
    top: 70px;
    left: 423px;
    
    z-index: 1;
  }
  .banner-info{
    position: absolute;
    top: 242px;
    left: 651px;
    z-index: 1;
  }

    .breadcrumb > .active,.breadcrumb > .active a {
  color: black;
}
ol > li > a {color:$gray-600};


.tastyDetail-product{
  // padding-left: 81px;
  img{
    width: 100%;
    height: auto;
  }
  .badge{
    font-size: 14px;
    vertical-align: super;
  }
  .price{
    font-size:24px ;
    color: red;
  }
  
  button{
    color: #0E376F;
  }
  select{
    border:2px solid black;
  }
}

.tastyDetail-breadcrumb-list,.tastyDetail-product-item{
  width: 90%;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slide-img {    
  width: 100%;
  padding-bottom: 72%;
  background-size: cover;
  background-position: center center;
}
.img-1{
  background-image: url(../images/pro-1.jpg);
}
.img-2{
  background-image: url(../images/pro-2.jpg);
}
.img-3{
  background-image: url(../images/pro-3.jpg);
}
.img-4{
  background-image: url(../images/pro-4.jpg);
}

.swiper-father {      
  position: relative;   
  .swiper{
    width: 90%;
  } 
}

.swiper-button-prev,.swiper-button-next{
  position: absolute;
  top: 50%;           
}


.swiper-button-prev img,
.swiper-button-next img {
  width: 48px;
  height: 48px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

}

/*RWD*/
@include media-breakpoint-down(sm) {
  .tastyDetail{
    .tastyDetail-breadcrumb-list,.tastyDetail-product-item{
      width: 100%;
    }   
  } 
 }

 @include media-breakpoint-down(xl) {
  .tastyDetail{
    .banner{
      h2{
        color: red;
      }
      .banner-title{
        padding-top: 100px;
        position:unset;
        text-align: center;
      }
      .banner-info{
        position:unset;
        text-align: center;
      }
     
      
      
    } 
  }
 
   


  }

  @include media-breakpoint-down(lg) {
    .tastyDetail{
      .banner{
        h2{
          color: red;
        }
        .banner-title{
          padding-top: 150px;
          position:unset;
          text-align: center;
        }
        .banner-info{
          position:unset;
          text-align: center;
        }
       
        
        
      } 
    }
   
     
  
  
    }

  @include media-breakpoint-down(sm) {
    .tastyDetail{
      .banner{
        h2{
          color: red;
        }
        .banner-title{
          padding-top: 50px;
          position:unset;
          text-align: center;
        }
        .banner-info{
          position:unset;
          text-align: center;
          
        }
       
        
        
      } 
    }
   
     
  
  
    }
